//--------------КОМНПАНІЯ----------work----------------------------
/* .work {} */

.work-up {
	background-color: #fdf5f0c4;
	padding: toRem(150) toRem(15) toRem(30);
	@media(max-width: toEm(460)) {
		padding: toRem(100) toRem(15) toRem(10);
	}
		// .work-up__list
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: toRem(15);
			max-width: toRem(420);
			margin-bottom: toEm(10);
			@media(max-width: toEm(460)) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		// .work-up__link
		&__link {
			font-family: 'BauhausMediumC';
			font-size: toRem(18);
			line-height: 130%;
			color: #000;
			animation: text 1s  0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			& span {
				font-weight: 600;
				text-decoration: underline;
			}
			display: flex;
			gap: toRem(7);
			&::before {
				content: '';
				width: toRem(5);
				height: toRem(5);
				flex: 0 0 toRem(5);
				background-color: aquamarine;
				transform: translateY(toRem(7));
			}
		}

		// .work-up__a
		&__a {
			font-size: toRem(20);
			font-weight: 600;
			color: red;
			transition: 0.4s;
			&:hover {
				text-decoration: underline;
			}
		}
	}
//-----------
.work {

	// .work__text
	&__text {
		padding: toRem(40) toRem(0) toRem(30);
		font-family: "Inter";
		& h2, h4 {
			font-size: toRem(35);
			margin-bottom: toEm(15, 35);
			font-family: 'BauhausMediumC';
			font-weight: 500;
			letter-spacing: toRem(2);
			animation: text 1s  0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			padding: toRem(5);
			background-color: #f4eada56;
			& span {
				color:rgb(0, 255, 213);
				font-weight: 600;
				text-shadow: toRem(2) toRem(0) toRem(2) #025667;
			}
		}
	}

	// .work__body
	&__body {
		@media(max-width: toEm(460)) {
			padding: toRem(30) toRem(0) toRem(5);
		}
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		margin-bottom: toEm(30);
		&::after {
			content: "";
			width: 100%;
			height: toRem(1);
			display: inline-block;
// --- полоска с прозрачными краями
background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgb(0, 255, 213,0.02) 1%, rgba(0,0,0,1) 50%, rgba(30,87,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(1%,rgba(30,87,153,0.02)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */ 
// --- полоска с прозрачными краями
		}
		& p {
			font-size: toRem(26);
			margin-bottom: toEm(20, 26);
			line-height: 135%;
			animation: text 1s  0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			padding: toRem(5);
			background-color: #f4eada56;
			@media(max-width: toEm(460)) {
				font-size: toRem(22);
			}
			& > *:last-child {
				margin-bottom: toEm(0);
			}
		}
	}

	// .work__list
	&__list {
		margin-bottom: toEm(20);
	}

	// .work__link
	&__link {
		font-size: toRem(18);
		margin-bottom: toEm(15, 18);
		line-height: 135%;
		animation: text 1s  1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		padding: toRem(5);
		background-color: #f4eada56;

		display: flex;
		gap: toRem(6);;
		&::before {
			content: "";
			width: toRem(7);
			height: toRem(7);
			flex: 0 0 toRem(7);
			background-color: #02f2d6;
			transform: translateY(toRem(8));
		}
		& > *:last-child {
			margin-bottom: toEm(0);
		}
	}
}